<p id="notice"><%= notice %></p>

<h1 class="index-title">Test Records<br><br></h1>

<table class="index-table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name_of_policy) %></th>
      <th><%= sort_link(@q, :country) %></th>
      <th>Link</th>
      <th>Email</th>
      <th>Phone</th>
      <th><%= sort_link(@q, :single_policy_or_group_of_policies) %></th>
      <th><%= sort_link(@q, :type_of_policy_instrument) %></th>
      <th><%= sort_link(@q, :total_ght_emissions_reductions_in_2020_kt_co2eq_per_year) %></th>
      <th><%= sort_link(@q, :realized_net_costs) %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_records.each do |test_record| %>
      <tr>
        <td class="last-cell"><%= link_to test_record.name_of_policy, test_record %></td>
        <td><%= test_record.country %></td>
        <td><%= link_to test_record.link, test_record.link, target: :_blank %></td>
        <td><%= test_record.email %></td>
        <td><%= test_record.phone %></td>
        <td><%= test_record.single_policy_or_group_of_policies %></td>
        <td><%= test_record.type_of_policy_instrument %></td>
        <td><%= number_with_delimiter(test_record.total_ght_emissions_reductions_in_2020_kt_co2eq_per_year, :delimiter => ',') %></td>
        <td><%= number_to_currency(test_record.realized_net_costs) %></td>
        <td><%= link_to 'Edit', edit_test_record_path(test_record) %></td>
        <td><%= link_to 'Destroy', test_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Record', new_test_record_path %>
