<%= form_with(model: policy, local: true) do |form| %>
  <% if policy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(policy.errors.count, "error") %> prohibited this policy from being saved:</h2>

      <ul>
        <% policy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :name_of_policy_or_measure %>
    <%= form.text_field :name_of_policy_or_measure %>
  </div>

  <div class="field">
    <%= form.label :single_policy_or_measure_or_group_of_measures %>
    <%= form.text_field :single_policy_or_measure_or_group_of_measures %>
  </div>

  <div class="field">
    <%= form.label :type_of_policy_instrument %>
    <%= form.text_field :type_of_policy_instrument %>
  </div>

  <div class="field">
    <%= form.label :status_of_implementation %>
    <%= form.text_field :status_of_implementation %>
  </div>

  <div class="field">
    <%= form.label :policy_impacting_eu_ets,_esd_or_lulucf_emissions %>
    <%= form.text_field :policy_impacting_eu_ets,_esd_or_lulucf_emissions %>
  </div>

  <div class="field">
    <%= form.label :sectors_affected %>
    <%= form.text_field :sectors_affected %>
  </div>

  <div class="field">
    <%= form.label :objectives %>
    <%= form.text_field :objectives %>
  </div>

  <div class="field">
    <%= form.label :total_ghg_emissions_reductions_in_2020_kt_co2eq/y %>
    <%= form.text_field :total_ghg_emissions_reductions_in_2020_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :total_ghg_emissions_reductions_in_2030_kt_co2eq/y %>
    <%= form.text_field :total_ghg_emissions_reductions_in_2030_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :jurisdiction %>
    <%= form.text_field :jurisdiction %>
  </div>

  <div class="field">
    <%= form.label :agency %>
    <%= form.text_field :agency %>
  </div>

  <div class="field">
    <%= form.label :date_effective %>
    <%= form.number_field :date_effective %>
  </div>

  <div class="field">
    <%= form.label :is_the_policy_or_measure_related_to_a_union_policy? %>
    <%= form.text_field :is_the_policy_or_measure_related_to_a_union_policy? %>
  </div>

  <div class="field">
    <%= form.label :related_union_policy %>
    <%= form.text_field :related_union_policy %>
  </div>

  <div class="field">
    <%= form.label :ghgs_affected %>
    <%= form.text_field :ghgs_affected %>
  </div>

  <div class="field">
    <%= form.label :projection_scenario_in_which_the_policy_or_measure_is_included %>
    <%= form.text_field :projection_scenario_in_which_the_policy_or_measure_is_included %>
  </div>

  <div class="field">
    <%= form.label :link_to_national_report %>
    <%= form.text_field :link_to_national_report %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :quantified_objective %>
    <%= form.text_field :quantified_objective %>
  </div>

  <div class="field">
    <%= form.label :implementation_period_finish %>
    <%= form.number_field :implementation_period_finish %>
  </div>

  <div class="field">
    <%= form.label :indicator_used_to_monitor_and_evaluate_progress_over_time %>
    <%= form.text_field :indicator_used_to_monitor_and_evaluate_progress_over_time %>
  </div>

  <div class="field">
    <%= form.label :general_comment %>
    <%= form.text_field :general_comment %>
  </div>

  <div class="field">
    <%= form.label :main_reference %>
    <%= form.text_field :main_reference %>
  </div>

  <div class="field">
    <%= form.label :url_to_main_reference %>
    <%= form.text_field :url_to_main_reference %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_eu_ets_in_2020_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_eu_ets_in_2020_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_esd_in_2020_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_esd_in_2020_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_eu_ets_in_2025_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_eu_ets_in_2025_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_esd_in_2025_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_esd_in_2025_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :total_ghg_emissions_reductions_in_2025_kt_co2eq/y %>
    <%= form.text_field :total_ghg_emissions_reductions_in_2025_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_eu_ets_in_2030_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_eu_ets_in_2030_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_esd_in_2030_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_esd_in_2030_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_eu_ets_in_2035_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_eu_ets_in_2035_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :ghg_emissions_reductions_esd_in_2035_kt_co2eq/y %>
    <%= form.text_field :ghg_emissions_reductions_esd_in_2035_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :total_ghg_emissions_reductions_in_2035_kt_co2eq/y %>
    <%= form.text_field :total_ghg_emissions_reductions_in_2035_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :reference_for_ex-ante_assessment %>
    <%= form.text_field :reference_for_ex-ante_assessment %>
  </div>

  <div class="field">
    <%= form.label :web_link_for_ex-ante_assessment %>
    <%= form.text_field :web_link_for_ex-ante_assessment %>
  </div>

  <div class="field">
    <%= form.label :year_for_which_reduction_applies_ex_post %>
    <%= form.number_field :year_for_which_reduction_applies_ex_post %>
  </div>

  <div class="field">
    <%= form.label :average_ex_post_emission_reduction_kt_co2eq/y %>
    <%= form.text_field :average_ex_post_emission_reduction_kt_co2eq/y %>
  </div>

  <div class="field">
    <%= form.label :explanation_of_the_basis_for_the_mitigation_estimates %>
    <%= form.text_field :explanation_of_the_basis_for_the_mitigation_estimates %>
  </div>

  <div class="field">
    <%= form.label :factors_affected_by_the_policy_or_measure %>
    <%= form.text_field :factors_affected_by_the_policy_or_measure %>
  </div>

  <div class="field">
    <%= form.label :reference_for_ex-post_assessment %>
    <%= form.text_field :reference_for_ex-post_assessment %>
  </div>

  <div class="field">
    <%= form.label :web_link_for_ex-post_assessment %>
    <%= form.text_field :web_link_for_ex-post_assessment %>
  </div>

  <div class="field">
    <%= form.label :projected_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
    <%= form.text_field :projected_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
  </div>

  <div class="field">
    <%= form.label :projected_absolute_costs_per_year_eur %>
    <%= form.text_field :projected_absolute_costs_per_year_eur %>
  </div>

  <div class="field">
    <%= form.label :year_projected_cost_has_been_calculated_for %>
    <%= form.number_field :year_projected_cost_has_been_calculated_for %>
  </div>

  <div class="field">
    <%= form.label :price_reference_year_projected_costs %>
    <%= form.number_field :price_reference_year_projected_costs %>
  </div>

  <div class="field">
    <%= form.label :projected_benefits_eur_per_tonne_co2eq_reduced/_sequestered %>
    <%= form.text_field :projected_benefits_eur_per_tonne_co2eq_reduced/_sequestered %>
  </div>

  <div class="field">
    <%= form.label :projected_absolute_benefit_per_year_eur %>
    <%= form.text_field :projected_absolute_benefit_per_year_eur %>
  </div>

  <div class="field">
    <%= form.label :projected_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
    <%= form.text_field :projected_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
  </div>

  <div class="field">
    <%= form.label :projected_net_cost_per_year_eur %>
    <%= form.text_field :projected_net_cost_per_year_eur %>
  </div>

  <div class="field">
    <%= form.label :description_of_projected_cost_estimates %>
    <%= form.text_field :description_of_projected_cost_estimates %>
  </div>

  <div class="field">
    <%= form.label :reference_for_projected_costs_and_benefits %>
    <%= form.text_field :reference_for_projected_costs_and_benefits %>
  </div>

  <div class="field">
    <%= form.label :web_link_for_projected_costs_and_benefits %>
    <%= form.text_field :web_link_for_projected_costs_and_benefits %>
  </div>

  <div class="field">
    <%= form.label :realised_costs__eur_per_tonne_co2eq_reduced/_sequestered %>
    <%= form.text_field :realised_costs__eur_per_tonne_co2eq_reduced/_sequestered %>
  </div>

  <div class="field">
    <%= form.label :realised_absolute_costs_per_year_eur %>
    <%= form.text_field :realised_absolute_costs_per_year_eur %>
  </div>

  <div class="field">
    <%= form.label :year_realised_cost_has_been_calculated_for %>
    <%= form.number_field :year_realised_cost_has_been_calculated_for %>
  </div>

  <div class="field">
    <%= form.label :price_reference_year_realised_costs %>
    <%= form.text_field :price_reference_year_realised_costs %>
  </div>

  <div class="field">
    <%= form.label :realised_benefits_eur_per_tonne_co2eq_reduced/_sequestered %>
    <%= form.text_field :realised_benefits_eur_per_tonne_co2eq_reduced/_sequestered %>
  </div>

  <div class="field">
    <%= form.label :realised_absolute_benefit_per_year_eur %>
    <%= form.text_field :realised_absolute_benefit_per_year_eur %>
  </div>

  <div class="field">
    <%= form.label :realised_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
    <%= form.text_field :realised_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
  </div>

  <div class="field">
    <%= form.label :realised_net_cost_per_year_eur %>
    <%= form.text_field :realised_net_cost_per_year_eur %>
  </div>

  <div class="field">
    <%= form.label :description_of_realised_cost_estimates %>
    <%= form.text_field :description_of_realised_cost_estimates %>
  </div>

  <div class="field">
    <%= form.label :reference_for_realised_costs_and_benefits %>
    <%= form.text_field :reference_for_realised_costs_and_benefits %>
  </div>

  <div class="field">
    <%= form.label :web_link_for_realised_costs_and_benefits %>
    <%= form.text_field :web_link_for_realised_costs_and_benefits %>
  </div>

  <div class="field">
    <%= form.label :projected_net_cost_per_year_eur %>
    <%= form.text_field :projected_net_cost_per_year_eur %>
  </div>

  <div class="field">
    <%= form.label :realised_net_cost_per_year_eur %>
    <%= form.text_field :realised_net_cost_per_year_eur %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
