<p id="notice"><%= notice %></p>

<h1>Policies</h1>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Link</th>
      <th>Name of policy or measure</th>
      <th>Single policy or measure or group of measures</th>
      <th>Type of policy instrument</th>
      <th>Status of implementation</th>
      <th>Policy impacting eu ets, esd or lulucf emissions</th>
      <th>Sectors affected</th>
      <th>Objectives</th>
      <th>Total ghg emissions reductions in 2020 kt co2eq/y</th>
      <th>Total ghg emissions reductions in 2030 kt co2eq/y</th>
      <th>Jurisdiction</th>
      <th>Agency</th>
      <th>Date effective</th>
      <th>Is the policy or measure related to a union policy?</th>
      <th>Related union policy</th>
      <th>Ghgs affected</th>
      <th>Projection scenario in which the policy or measure is included</th>
      <th>Link to national report</th>
      <th>Description</th>
      <th>Quantified objective</th>
      <th>Implementation period finish</th>
      <th>Indicator used to monitor and evaluate progress over time</th>
      <th>General comment</th>
      <th>Main reference</th>
      <th>Url to main reference</th>
      <th>Ghg emissions reductions eu ets in 2020 kt co2eq/y</th>
      <th>Ghg emissions reductions esd in 2020 kt co2eq/y</th>
      <th>Ghg emissions reductions eu ets in 2025 kt co2eq/y</th>
      <th>Ghg emissions reductions esd in 2025 kt co2eq/y</th>
      <th>Total ghg emissions reductions in 2025 kt co2eq/y</th>
      <th>Ghg emissions reductions eu ets in 2030 kt co2eq/y</th>
      <th>Ghg emissions reductions esd in 2030 kt co2eq/y</th>
      <th>Ghg emissions reductions eu ets in 2035 kt co2eq/y</th>
      <th>Ghg emissions reductions esd in 2035 kt co2eq/y</th>
      <th>Total ghg emissions reductions in 2035 kt co2eq/y</th>
      <th>Reference for ex-ante assessment</th>
      <th>Web link for ex-ante assessment</th>
      <th>Year for which reduction applies ex post</th>
      <th>Average ex post emission reduction kt co2eq/y</th>
      <th>Explanation of the basis for the mitigation estimates</th>
      <th>Factors affected by the policy or measure</th>
      <th>Reference for ex-post assessment</th>
      <th>Web link for ex-post assessment</th>
      <th>Projected costs eur per tonne co2eq reduced/ sequestered</th>
      <th>Projected absolute costs per year eur</th>
      <th>Year projected cost has been calculated for</th>
      <th>Price reference year projected costs</th>
      <th>Projected benefits eur per tonne co2eq reduced/ sequestered</th>
      <th>Projected absolute benefit per year eur</th>
      <th>Projected net costs eur per tonne co2eq reduced/ sequestered</th>
      <th>Projected net cost per year eur</th>
      <th>Description of projected cost estimates</th>
      <th>Reference for projected costs and benefits</th>
      <th>Web link for projected costs and benefits</th>
      <th>Realised costs  eur per tonne co2eq reduced/ sequestered</th>
      <th>Realised absolute costs per year eur</th>
      <th>Year realised cost has been calculated for</th>
      <th>Price reference year realised costs</th>
      <th>Realised benefits eur per tonne co2eq reduced/ sequestered</th>
      <th>Realised absolute benefit per year eur</th>
      <th>Realised net costs eur per tonne co2eq reduced/ sequestered</th>
      <th>Realised net cost per year eur</th>
      <th>Description of realised cost estimates</th>
      <th>Reference for realised costs and benefits</th>
      <th>Web link for realised costs and benefits</th>
      <th>Projected net cost per year eur</th>
      <th>Realised net cost per year eur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.country %></td>
        <td><%= policy.link %></td>
        <td><%= policy.name_of_policy_or_measure %></td>
        <td><%= policy.single_policy_or_measure_or_group_of_measures %></td>
        <td><%= policy.type_of_policy_instrument %></td>
        <td><%= policy.status_of_implementation %></td>
        <td><%= policy.policy_impacting_eu_ets,_esd_or_lulucf_emissions %></td>
        <td><%= policy.sectors_affected %></td>
        <td><%= policy.objectives %></td>
        <td><%= policy.total_ghg_emissions_reductions_in_2020_kt_co2eq/y %></td>
        <td><%= policy.total_ghg_emissions_reductions_in_2030_kt_co2eq/y %></td>
        <td><%= policy.jurisdiction %></td>
        <td><%= policy.agency %></td>
        <td><%= policy.date_effective %></td>
        <td><%= policy.is_the_policy_or_measure_related_to_a_union_policy? %></td>
        <td><%= policy.related_union_policy %></td>
        <td><%= policy.ghgs_affected %></td>
        <td><%= policy.projection_scenario_in_which_the_policy_or_measure_is_included %></td>
        <td><%= policy.link_to_national_report %></td>
        <td><%= policy.description %></td>
        <td><%= policy.quantified_objective %></td>
        <td><%= policy.implementation_period_finish %></td>
        <td><%= policy.indicator_used_to_monitor_and_evaluate_progress_over_time %></td>
        <td><%= policy.general_comment %></td>
        <td><%= policy.main_reference %></td>
        <td><%= policy.url_to_main_reference %></td>
        <td><%= policy.ghg_emissions_reductions_eu_ets_in_2020_kt_co2eq/y %></td>
        <td><%= policy.ghg_emissions_reductions_esd_in_2020_kt_co2eq/y %></td>
        <td><%= policy.ghg_emissions_reductions_eu_ets_in_2025_kt_co2eq/y %></td>
        <td><%= policy.ghg_emissions_reductions_esd_in_2025_kt_co2eq/y %></td>
        <td><%= policy.total_ghg_emissions_reductions_in_2025_kt_co2eq/y %></td>
        <td><%= policy.ghg_emissions_reductions_eu_ets_in_2030_kt_co2eq/y %></td>
        <td><%= policy.ghg_emissions_reductions_esd_in_2030_kt_co2eq/y %></td>
        <td><%= policy.ghg_emissions_reductions_eu_ets_in_2035_kt_co2eq/y %></td>
        <td><%= policy.ghg_emissions_reductions_esd_in_2035_kt_co2eq/y %></td>
        <td><%= policy.total_ghg_emissions_reductions_in_2035_kt_co2eq/y %></td>
        <td><%= policy.reference_for_ex-ante_assessment %></td>
        <td><%= policy.web_link_for_ex-ante_assessment %></td>
        <td><%= policy.year_for_which_reduction_applies_ex_post %></td>
        <td><%= policy.average_ex_post_emission_reduction_kt_co2eq/y %></td>
        <td><%= policy.explanation_of_the_basis_for_the_mitigation_estimates %></td>
        <td><%= policy.factors_affected_by_the_policy_or_measure %></td>
        <td><%= policy.reference_for_ex-post_assessment %></td>
        <td><%= policy.web_link_for_ex-post_assessment %></td>
        <td><%= policy.projected_costs_eur_per_tonne_co2eq_reduced/_sequestered %></td>
        <td><%= policy.projected_absolute_costs_per_year_eur %></td>
        <td><%= policy.year_projected_cost_has_been_calculated_for %></td>
        <td><%= policy.price_reference_year_projected_costs %></td>
        <td><%= policy.projected_benefits_eur_per_tonne_co2eq_reduced/_sequestered %></td>
        <td><%= policy.projected_absolute_benefit_per_year_eur %></td>
        <td><%= policy.projected_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %></td>
        <td><%= policy.projected_net_cost_per_year_eur %></td>
        <td><%= policy.description_of_projected_cost_estimates %></td>
        <td><%= policy.reference_for_projected_costs_and_benefits %></td>
        <td><%= policy.web_link_for_projected_costs_and_benefits %></td>
        <td><%= policy.realised_costs__eur_per_tonne_co2eq_reduced/_sequestered %></td>
        <td><%= policy.realised_absolute_costs_per_year_eur %></td>
        <td><%= policy.year_realised_cost_has_been_calculated_for %></td>
        <td><%= policy.price_reference_year_realised_costs %></td>
        <td><%= policy.realised_benefits_eur_per_tonne_co2eq_reduced/_sequestered %></td>
        <td><%= policy.realised_absolute_benefit_per_year_eur %></td>
        <td><%= policy.realised_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %></td>
        <td><%= policy.realised_net_cost_per_year_eur %></td>
        <td><%= policy.description_of_realised_cost_estimates %></td>
        <td><%= policy.reference_for_realised_costs_and_benefits %></td>
        <td><%= policy.web_link_for_realised_costs_and_benefits %></td>
        <td><%= policy.projected_net_cost_per_year_eur %></td>
        <td><%= policy.realised_net_cost_per_year_eur %></td>
        <td><%= link_to 'Show', policy %></td>
        <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
        <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policy', new_policy_path %>
