<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @policy.country %>
</p>

<p>
  <strong>Link:</strong>
  <%= @policy.link %>
</p>

<p>
  <strong>Name of policy or measure:</strong>
  <%= @policy.name_of_policy_or_measure %>
</p>

<p>
  <strong>Single policy or measure or group of measures:</strong>
  <%= @policy.single_policy_or_measure_or_group_of_measures %>
</p>

<p>
  <strong>Type of policy instrument:</strong>
  <%= @policy.type_of_policy_instrument %>
</p>

<p>
  <strong>Status of implementation:</strong>
  <%= @policy.status_of_implementation %>
</p>

<p>
  <strong>Policy impacting eu ets, esd or lulucf emissions:</strong>
  <%= @policy.policy_impacting_eu_ets,_esd_or_lulucf_emissions %>
</p>

<p>
  <strong>Sectors affected:</strong>
  <%= @policy.sectors_affected %>
</p>

<p>
  <strong>Objectives:</strong>
  <%= @policy.objectives %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2020 kt co2eq/y:</strong>
  <%= @policy.total_ghg_emissions_reductions_in_2020_kt_co2eq/y %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2030 kt co2eq/y:</strong>
  <%= @policy.total_ghg_emissions_reductions_in_2030_kt_co2eq/y %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @policy.jurisdiction %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @policy.agency %>
</p>

<p>
  <strong>Date effective:</strong>
  <%= @policy.date_effective %>
</p>

<p>
  <strong>Is the policy or measure related to a union policy?:</strong>
  <%= @policy.is_the_policy_or_measure_related_to_a_union_policy? %>
</p>

<p>
  <strong>Related union policy:</strong>
  <%= @policy.related_union_policy %>
</p>

<p>
  <strong>Ghgs affected:</strong>
  <%= @policy.ghgs_affected %>
</p>

<p>
  <strong>Projection scenario in which the policy or measure is included:</strong>
  <%= @policy.projection_scenario_in_which_the_policy_or_measure_is_included %>
</p>

<p>
  <strong>Link to national report:</strong>
  <%= @policy.link_to_national_report %>
</p>

<p>
  <strong>Description:</strong>
  <%= @policy.description %>
</p>

<p>
  <strong>Quantified objective:</strong>
  <%= @policy.quantified_objective %>
</p>

<p>
  <strong>Implementation period finish:</strong>
  <%= @policy.implementation_period_finish %>
</p>

<p>
  <strong>Indicator used to monitor and evaluate progress over time:</strong>
  <%= @policy.indicator_used_to_monitor_and_evaluate_progress_over_time %>
</p>

<p>
  <strong>General comment:</strong>
  <%= @policy.general_comment %>
</p>

<p>
  <strong>Main reference:</strong>
  <%= @policy.main_reference %>
</p>

<p>
  <strong>Url to main reference:</strong>
  <%= @policy.url_to_main_reference %>
</p>

<p>
  <strong>Ghg emissions reductions eu ets in 2020 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_eu_ets_in_2020_kt_co2eq/y %>
</p>

<p>
  <strong>Ghg emissions reductions esd in 2020 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_esd_in_2020_kt_co2eq/y %>
</p>

<p>
  <strong>Ghg emissions reductions eu ets in 2025 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_eu_ets_in_2025_kt_co2eq/y %>
</p>

<p>
  <strong>Ghg emissions reductions esd in 2025 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_esd_in_2025_kt_co2eq/y %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2025 kt co2eq/y:</strong>
  <%= @policy.total_ghg_emissions_reductions_in_2025_kt_co2eq/y %>
</p>

<p>
  <strong>Ghg emissions reductions eu ets in 2030 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_eu_ets_in_2030_kt_co2eq/y %>
</p>

<p>
  <strong>Ghg emissions reductions esd in 2030 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_esd_in_2030_kt_co2eq/y %>
</p>

<p>
  <strong>Ghg emissions reductions eu ets in 2035 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_eu_ets_in_2035_kt_co2eq/y %>
</p>

<p>
  <strong>Ghg emissions reductions esd in 2035 kt co2eq/y:</strong>
  <%= @policy.ghg_emissions_reductions_esd_in_2035_kt_co2eq/y %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2035 kt co2eq/y:</strong>
  <%= @policy.total_ghg_emissions_reductions_in_2035_kt_co2eq/y %>
</p>

<p>
  <strong>Reference for ex-ante assessment:</strong>
  <%= @policy.reference_for_ex-ante_assessment %>
</p>

<p>
  <strong>Web link for ex-ante assessment:</strong>
  <%= @policy.web_link_for_ex-ante_assessment %>
</p>

<p>
  <strong>Year for which reduction applies ex post:</strong>
  <%= @policy.year_for_which_reduction_applies_ex_post %>
</p>

<p>
  <strong>Average ex post emission reduction kt co2eq/y:</strong>
  <%= @policy.average_ex_post_emission_reduction_kt_co2eq/y %>
</p>

<p>
  <strong>Explanation of the basis for the mitigation estimates:</strong>
  <%= @policy.explanation_of_the_basis_for_the_mitigation_estimates %>
</p>

<p>
  <strong>Factors affected by the policy or measure:</strong>
  <%= @policy.factors_affected_by_the_policy_or_measure %>
</p>

<p>
  <strong>Reference for ex-post assessment:</strong>
  <%= @policy.reference_for_ex-post_assessment %>
</p>

<p>
  <strong>Web link for ex-post assessment:</strong>
  <%= @policy.web_link_for_ex-post_assessment %>
</p>

<p>
  <strong>Projected costs eur per tonne co2eq reduced/ sequestered:</strong>
  <%= @policy.projected_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
</p>

<p>
  <strong>Projected absolute costs per year eur:</strong>
  <%= @policy.projected_absolute_costs_per_year_eur %>
</p>

<p>
  <strong>Year projected cost has been calculated for:</strong>
  <%= @policy.year_projected_cost_has_been_calculated_for %>
</p>

<p>
  <strong>Price reference year projected costs:</strong>
  <%= @policy.price_reference_year_projected_costs %>
</p>

<p>
  <strong>Projected benefits eur per tonne co2eq reduced/ sequestered:</strong>
  <%= @policy.projected_benefits_eur_per_tonne_co2eq_reduced/_sequestered %>
</p>

<p>
  <strong>Projected absolute benefit per year eur:</strong>
  <%= @policy.projected_absolute_benefit_per_year_eur %>
</p>

<p>
  <strong>Projected net costs eur per tonne co2eq reduced/ sequestered:</strong>
  <%= @policy.projected_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
</p>

<p>
  <strong>Projected net cost per year eur:</strong>
  <%= @policy.projected_net_cost_per_year_eur %>
</p>

<p>
  <strong>Description of projected cost estimates:</strong>
  <%= @policy.description_of_projected_cost_estimates %>
</p>

<p>
  <strong>Reference for projected costs and benefits:</strong>
  <%= @policy.reference_for_projected_costs_and_benefits %>
</p>

<p>
  <strong>Web link for projected costs and benefits:</strong>
  <%= @policy.web_link_for_projected_costs_and_benefits %>
</p>

<p>
  <strong>Realised costs  eur per tonne co2eq reduced/ sequestered:</strong>
  <%= @policy.realised_costs__eur_per_tonne_co2eq_reduced/_sequestered %>
</p>

<p>
  <strong>Realised absolute costs per year eur:</strong>
  <%= @policy.realised_absolute_costs_per_year_eur %>
</p>

<p>
  <strong>Year realised cost has been calculated for:</strong>
  <%= @policy.year_realised_cost_has_been_calculated_for %>
</p>

<p>
  <strong>Price reference year realised costs:</strong>
  <%= @policy.price_reference_year_realised_costs %>
</p>

<p>
  <strong>Realised benefits eur per tonne co2eq reduced/ sequestered:</strong>
  <%= @policy.realised_benefits_eur_per_tonne_co2eq_reduced/_sequestered %>
</p>

<p>
  <strong>Realised absolute benefit per year eur:</strong>
  <%= @policy.realised_absolute_benefit_per_year_eur %>
</p>

<p>
  <strong>Realised net costs eur per tonne co2eq reduced/ sequestered:</strong>
  <%= @policy.realised_net_costs_eur_per_tonne_co2eq_reduced/_sequestered %>
</p>

<p>
  <strong>Realised net cost per year eur:</strong>
  <%= @policy.realised_net_cost_per_year_eur %>
</p>

<p>
  <strong>Description of realised cost estimates:</strong>
  <%= @policy.description_of_realised_cost_estimates %>
</p>

<p>
  <strong>Reference for realised costs and benefits:</strong>
  <%= @policy.reference_for_realised_costs_and_benefits %>
</p>

<p>
  <strong>Web link for realised costs and benefits:</strong>
  <%= @policy.web_link_for_realised_costs_and_benefits %>
</p>

<p>
  <strong>Projected net cost per year eur:</strong>
  <%= @policy.projected_net_cost_per_year_eur %>
</p>

<p>
  <strong>Realised net cost per year eur:</strong>
  <%= @policy.realised_net_cost_per_year_eur %>
</p>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
