<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @policy.name %>
</p>

<p>
  <strong>Data source:</strong>
  <%= @policy.data_source %>
</p>

<p>
  <strong>World region:</strong>
  <%= @policy.world_region %>
</p>

<p>
  <strong>Country:</strong>
  <%= @policy.country %>
</p>

<p>
  <strong>Country region:</strong>
  <%= @policy.country_region %>
</p>

<p>
  <strong>City:</strong>
  <%= @policy.city %>
</p>

<p>
  <strong>Link:</strong>
  <%= @policy.link %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @policy.jurisdiction %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @policy.agency %>
</p>

<p>
  <strong>Policy written year:</strong>
  <%= @policy.policy_written_year %>
</p>

<p>
  <strong>Policy implementation period start year:</strong>
  <%= @policy.policy_implementation_period_start_year %>
</p>

<p>
  <strong>Policy implementation period end year:</strong>
  <%= @policy.policy_implementation_period_end_year %>
</p>

<p>
  <strong>Policy status:</strong>
  <%= @policy.policy_status %>
</p>

<p>
  <strong>Policy type:</strong>
  <%= @policy.policy_type %>
</p>

<p>
  <strong>Policy target:</strong>
  <%= @policy.policy_target %>
</p>

<p>
  <strong>Description:</strong>
  <%= @policy.description %>
</p>

<p>
  <strong>Ghgs affected:</strong>
  <%= @policy.ghgs_affected %>
</p>

<p>
  <strong>Related to eu policy boolean:</strong>
  <%= @policy.related_to_eu_policy_boolean %>
</p>

<p>
  <strong>Related to eu policy:</strong>
  <%= @policy.related_to_eu_policy %>
</p>

<p>
  <strong>Impact on eu ets esd or lulucf emissions:</strong>
  <%= @policy.impact_on_eu_ets_esd_or_lulucf_emissions %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2020:</strong>
  <%= @policy.total_ghg_emissions_reductions_in_2020 %>
</p>

<p>
  <strong>Total ghg emissions reductions in 2030:</strong>
  <%= @policy.total_ghg_emissions_reductions_in_2030 %>
</p>

<p>
  <strong>Related to neeap policy boolean:</strong>
  <%= @policy.related_to_neeap_policy_boolean %>
</p>

<p>
  <strong>Related to neeap policy:</strong>
  <%= @policy.related_to_neeap_policy %>
</p>

<p>
  <strong>Impact evaluation:</strong>
  <%= @policy.impact_evaluation %>
</p>

<p>
  <strong>Policy financing quantity:</strong>
  <%= @policy.policy_financing_quantity %>
</p>

<p>
  <strong>Policy financing period start:</strong>
  <%= @policy.policy_financing_period_start %>
</p>

<p>
  <strong>Policy financing period end:</strong>
  <%= @policy.policy_financing_period_end %>
</p>

<p>
  <strong>Percent private funded:</strong>
  <%= @policy.percent_private_funded %>
</p>

<p>
  <strong>Related documents:</strong>
  <%= @policy.related_documents %>
</p>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
